@model Article
@{

}

<h2>TITLE</h2>
<h4>@Model.Data.Title</h4>

<h2>KEYWORDS</h2>
<h4>@Model.Data.Keywords</h4>

<h2>ABSTRACT</h2>
<p>@Model.Data.Abstract</p>

<h2>ARTICLE</h2>
<p>@Model.Data.FullText</p>